// html {
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   font-style: sans-serif;
// }
// body {
//   width: 100%;
//   height: 100%;
//   font-family: "Open Sans", sans-serif;
//   margin: 0;
//   background-color: #4a374a;
// }
.login-wrapper {
  width: 100%;
  // height: 100vh;
  // background-color: #4a374a;
  .login {
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
    // border: 1px solid #333;
    padding: 10px;

    h1 {
      // color: #fff;
      text-shadow: 0 0 10px;
      letter-spacing: 1px;
      text-align: center;
      font-size: 2em;
      margin: 0.67em 0;
    }

    .login-form {
      
      .adm-list {
        // border-bottom: none;
        overflow: visible;
        // border: 1px solid #333;
        .adm-list-inner {
          overflow: visible;
          .adm-list-item {
            border-radius: 10px;
            border: 1px solid #333;
            overflow: visible;
            .adm-list-item-content{
              border-bottom: none;
              overflow: visible;
            }
          }

          .adm-list-item + .adm-list-item {
            margin-top: 6px;
          }
        }
      }
      .adm-list.adm-list-default{
        border: none;
      }

      .login-button{
        color: #333;
      }
    }
  }
}
